table {
  margin-bottom: 2rem;
}
thead {
  border-bottom: 1px solid black;
}

td:not(:first-child), th:not(:first-child) {
  padding-left: 1rem;
  padding-right: 1rem;
}

caption {
  font-weight: bold;
  font-size: 1.6rem;
}

td, th, li, p {
  font-size: 1.6rem;
}